<div class="col-md-12">
    <app-card cardClass="daily-sales" cardTitle="Orders" [options]="false">
        <div class="row d-flex align-items-center">
            <div class="col-9">
                <button class="btn btn-outline-primary" type="button" [routerLink]="['cu']"><i
                        class="fas fa-plus"></i>Create Orders</button>
            </div>
        </div>
        <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </app-card>
</div>