<ul class="navbar-nav">
    <li>
        <div class="dropdown" ngbDropdown [placement]="['bottom-left', 'bottom-right']">
            <a ngbDropdownToggle href="javascript:" (click)="makeAsRead(false)" data-toggle="dropdown"><i
                    class="icon feather icon-bell"></i></a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
                <div class="noti-head">
                    <h6 class="d-inline-block m-b-0">Notifications</h6>
                    <div class="float-right">
                        <a href="javascript:" class="m-r-10" (click)="makeAsRead(true)">mark as read</a>
                        <a href="javascript:" (click)="clearallnotification()">clear all</a>
                    </div>
                </div>
                <ul class="noti-body" *ngIf="lstNotifications[0]">
                    <li class="n-title" *ngIf="lstNotifications[0]">
                        <p class="m-b-0">LAST NEW</p>
                    </li>
                    <li class="notification" [ngClass]="{'notread':!lstNotifications[0].isRead}" *ngIf="lstNotifications[0]" (click)="goTo(lstNotifications[0].orderId)">
                        <div class="media">
                            <img class="img-radius" [src]="'./attachment/' + lstNotifications[0].userpicture" alt=" ">
                            <div class="media-body">
                                <p><strong>{{lstNotifications[0]['englishName']}}</strong> | <strong class="text-c-red">{{lstNotifications[0]['supplierName']}}</strong><span class="n-time text-muted"><i
                                            class="icon feather icon-clock m-r-10"></i>{{lstNotifications[0]['createdAt']| dateAgo}}</span>
                                </p>
                                <p>{{lstNotifications[0]['content']}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="n-title">
                        <p class="m-b-0">EARLIER</p>
                    </li>
                    <li class="notification" *ngFor="let notify of lstNotifications; first as isFirst" [ngClass]="{'notread':!notify.isRead}" (click)="goTo(notify.orderId)">
                        <div class="media" *ngIf="!isFirst">
                            <img class="img-radius" [src]="'./attachment/' + notify.userpicture" alt=" ">
                            <div class="media-body">
                                <p><strong>{{notify.englishName}}</strong> | <strong class="text-c-red">{{notify['supplierName']}}</strong><span class="n-time text-muted"><i
                                            class="icon feather icon-clock m-r-10"></i>{{notify.createdAt| dateAgo}}</span>
                                </p>
                                <p>{{notify.content}}</p>
                            </div>
                        </div>
                    </li>
                    <div class="noti-footer">
                        <a href="javascript:" (click)="viewAll()">show all</a>
                    </div>
                </ul>



                <ul class="noti-body" *ngIf="!lstNotifications[0]">
                    <li class="n-title">
                        <p class="m-b-0">You Dont Have Notifications For Now!</p>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li (click)="this.visibleUserList = !this.visibleUserList;"><a href="javascript:" class="displayChatbox"><i
                class="icon feather icon-mail"></i></a></li>
    <li>
        <div class="dropdown drp-user" ngbDropdown [placement]="['bottom-left', 'bottom-right']">
            <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
                <i class="icon feather icon-settings"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
                <div class="pro-head">
                    <img [src]="myUserPicture" class="img-radius" alt="User-Profile-Image">
                    <span>Account</span>
                    <a href="javascript:" class="dud-logout" title="Logout">
                        <button class="btn btn-out-success border-0 white" (click)="logout()">
                            <i class="feather icon-log-out"></i>
                        </button>
                    </a>
                </div>
                <ul class="pro-body">
                    <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a>
                    </li>
                    <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                    <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a>
                    </li>
                    <li><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </li>
</ul>
<section class="header-user-list" *ngIf="visibleUserList && !this.dattaConfig['rtl-layout']" [ngClass]="{'open': visibleUserList}" [@slideInOutLeft]>
    <app-chat-user-list (onChatToggle)="onChatToggle($event)" (onChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false;"></app-chat-user-list>
</section>

<section class="header-chat" *ngIf="chatMessage && !this.dattaConfig['rtl-layout']" [ngClass]="{'open': chatMessage}" [@slideInOutLeft]>
    <app-chat-msg (onChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId"></app-chat-msg>
</section>

<section class="header-user-list" *ngIf="visibleUserList && this.dattaConfig['rtl-layout']" [ngClass]="{'open': visibleUserList}" [@slideInOutRight]>
    <app-chat-user-list (onChatToggle)="onChatToggle($event)" (onChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false;"></app-chat-user-list>
</section>

<section class="header-chat" *ngIf="chatMessage && this.dattaConfig['rtl-layout']" [ngClass]="{'open': chatMessage}" [@slideInOutRight]>
    <app-chat-msg (onChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId"></app-chat-msg>
</section>