<div class="col-md-3">
    <div class="card theme-bg">
        <div class="card-block cursor shadow-2" [routerLink]="['./companies']">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <img class="img-logo_1" src="https://icons-for-free.com/iconfiles/png/512/business+company+estate+office+work+icon-1320086520504455343.png" alt="activity-user">
                </div>
                <div class="col">
                    <h3 class="text-white f-w-300">Companies</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card theme-bg">
        <div class="card-block cursor shadow-2" [routerLink]="['./predefineddata']">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto">
                    <img class="img-logo_1" src="https://icons-for-free.com/iconfiles/png/512/business+company+estate+office+work+icon-1320086520504455343.png" alt="activity-user">
                </div>
                <div class="col">
                    <h3 class="text-white f-w-300">PreDefined Data</h3>
                </div>
            </div>
        </div>
    </div>
</div>